$borderColor = rgba(77, 99, 110, 0.81)

.pull-left
  float: left!important;

.dropdown-menu
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

.btn-group, .btn-group-vertical
  position: relative;
  display: inline-block;
  vertical-align: middle;

.layoutChooser
  .selectedBefore
    background-color: #5cc3eb
  //theme('background', '$uiGrayDarkest', 0.95)
  border: 1px solid $borderColor;
  border-radius: 8px
  //height: 92px
  //min-height: 92px
  //min-width: 92px // to override bootstrap's dropdown-menu class
  padding: 5px 0;
  position: absolute;
  //width: 92px
  z-index: 5000

  table
    margin: 0 auto
    border-spacing: 0;
    border-collapse: collapse;
    td
      //theme('border', '1px solid $uiBorderColorDark')
      cursor: pointer
      //height: 20px
      transition(background-color 0.1s ease)
      //width: 20px

      &:hover, &.hover // Add the hover class here to be triggered by mouseenter/mouseleave
        background-color: #209ac9
        //theme('background-color', '$activeColor')
