:root {
  --text-secondary-color: #91B9CD;
  --active-color: #20a5d6;
  --hover-color: #ffffff;
}


.studyListToolbar
    .addNewStudy
        margin: 0 10px

        label
            color: var(--text-secondary-color)
            font-weight: 400
            cursor: pointer

        &:hover
            color: var(--hover-color)

        &:active
            color: var(--active-color)

        input
            width: 0.1px;
            height: 0.1px
            opacity: 0
            overflow: hidden
            position: absolute
            z-index: -1