.StudyBrowser
  float: left
  height: 100%
  width: 100%
  overflow: hidden
  background-color: black
  padding-bottom: 20px

  .scrollable-study-thumbnails
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    padding-bottom: 50px
    padding-right: 16px
    padding-left: 4px
    margin-right: -16px

    display: flex;
    justify-content: center;
    flex-direction: column;

    &::-webkit-scrollbar
      display: none

    .ThumbnailEntryContainer
      margin: 0 auto;
      padding-top: 1rem
      padding-bottom: 1.5rem

.draggable
  cursor: copy
  cursor: -webkit-grab
  cursor: -moz-grab
