.CalendarDay__selected_span {
  background: var(--ui-gray); 
  color: var(--input-placeholder-color); 
  border: 1px solid;
  border-color: var(--input-placeholder-color);
}

.CalendarDay__default:hover {
  color: var(--ui-gray);
}

.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
  background: var(--ui-gray-light);
  border-color: var(--input-placeholder-color);
  color: var(--input-placeholder-color);
}

.CalendarDay__selected {
  background: var(--ui-gray);
  color: var(--input-placeholder-color);
  border-color: var(--input-placeholder-color);
}

.CalendarDay__selected:hover {
  background: var(--ui-gray);
  color: var(--input-placeholder-color);
  border-color: var(--input-placeholder-color);
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: var(--ui-gray);
  color: var(--input-placeholder-color);
  border-color:var(--input-placeholder-color)#ccc;
}

.DateInput {
  width: 97px
}

.DateInput_input {
  background-color: var(--input-background-color)
  border-color: var(--input-background-color)
  color: var(--input-placeholder-color)
  height: 38px
  font-size: 10pt
}

.DateRangePickerInput {
  background-color: var(--input-background-color)
  border-color: var(--input-background-color)
  color: var(--input-placeholder-color)
  height: 40px
}
