.toolbarOverlay
  border 2px solid var(--ui-border-color-dark)
  padding 5px

.tooltip-toolbar-overlay
  margin-top 40px

  .tooltip-arrow
    display none
  .tooltip-inner
    max-width: unset;
    background: none;
