.study-drop-area {
    border: 2px dashed black;
    padding: 20px;
    transition: 0.2s all ease;
}

.study-drop-area.hovered {
    border: 2px dashed #20A5D6;
    background-color: black;
    color: #91B9CD;
}